{% extends "base.html" %}
{% block content %}
<h2>All Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Role</th>
            <th>View Activities</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a href="{{ url_for('balance_by_user', user_id=user.id) }}" class="btn btn-primary btn-sm">
                    View Balance
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
